.version-20-is {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 31px;
  font-weight: 500;
}
.property-1bar-dark {
  width: 137px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  height: 29px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-smi);
  text-align: left;
  font-size: var(--tag-size);
  color: var(--color-black);
  font-family: var(--body-s-bold);
}
